.place__title {
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 990px) {
    .place__title {
        line-height: 66px;
        font-size: 62px;
    }
}

@media screen and (max-width: 860px) {
    .place__title {
        line-height: 56px;
        font-size: 52px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        line-height: 46px;
        font-size: 42px;
    }
}


@media screen and (max-width: 570px) {
    .place__title {
        line-height: 35px;
        font-size: 32px;
    }
}