.place__image {
    width: 100%;
    margin: 48px 0 0;
    padding: 0;
    display: flex;
    object-fit: contain;
}

@media screen and (max-width: 460px) {
    .place__image {
        width: calc(100% + 48px);
        margin-left: -24px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: calc(100% + 32px);
        margin: 32px 0 0 -16px;
    }
}