.place__right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 460px) {
    .place__right-column {
        flex-basis: 100%;
    }
}