.lead__title {
    line-height: 100px;
    font-size: 96px;
    font-weight: 900;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 730px) {
    .lead__title {
        line-height: 80px;
        font-size: 76px;
    }
}

@media screen and (max-width: 600px) {
    .lead__title {
        line-height: 60px;
        font-size: 56px;
    }
}

@media screen and (max-width: 460px) {
    .lead__title {
        line-height: 50px;
        font-size: 46px;
    }
}


@media screen and (max-width: 380px) {
    .lead__title {
        line-height: 44px;
        font-size: 40px;
    }
}