.section-title_size_l {
    line-height: 76px;
    font-size: 72px;
}


@media screen and (max-width: 640px) {
    .section-title_size_l {
        line-height: 40px;
        font-size: 36px;
    }
}

@media screen and (max-width: 460px) {
    .section-title_size_l {
        line-height: 35px;
        font-size: 32px;
    }
}