.section-title_size_xl {
    line-height: 100px;
    font-size: 96px;
}

@media screen and (max-width: 730px) {
    .section-title_size_xl {
        line-height: 80px;
        font-size: 76px;
    }
}

@media screen and (max-width: 600px) {
    .section-title_size_xl {
        line-height: 60px;
        font-size: 56px;
    }
}

@media screen and (max-width: 460px) {
    .section-title_size_xl {
        line-height: 50px;
        font-size: 46px;
    }
}


@media screen and (max-width: 380px) {
    .section-title_size_xl {
        line-height: 44px;
        font-size: 40px;
    }
}

