.lead__subtitle {
    line-height: 36px;
    font-size: 30px;
    font-weight: normal;
    max-width: 640px;
    margin: 32px auto 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        line-height: 4.7vw;
        font-size: 3.9vw;
        max-width: 83.3vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        line-height: 20px;
        font-size: 16px;
        margin: 16px auto 0;
    }
}