.cover {
    background-image: url(../../images/cover-trains.jpg);
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}

.cover:before {
    content: '';
    background: #2a2c2f;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.cover:hover:before {
    opacity: .8;
}


@media screen and (max-width: 1024px) {
    .cover {
        width: calc(100% + 96px);
        margin-left: -48px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: calc(100% + 48px);
        margin-left: -24px;
        min-height: 480px;
    }
}

@media screen and (max-width: 640px) {
    .cover {
        min-height: 350px;
    }
}

@media screen and (max-width: 460px) {
    .cover {
        min-height: 280px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: calc(100% + 32px);
        margin-left: -16px;
        min-height: 200px;
    }
}