.footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 740px) {
    .footer {
        flex-wrap: wrap;
        gap: 48px;
    }
}


@media screen and (max-width: 320px) {
    .footer {
        padding: 64px 0 0;
    }
}