.lead__cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -88%);
    width: 95%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .lead__cover {
        width: calc(95% + 48px);
    }
}

@media screen and (max-width: 320px) {
    .lead__cover {
        width: calc(95% + 32px);
    }
}