.place__cover {
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__cover {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 680px) {
    .place__cover {
        flex-basis: 100%;
    }
}