.place__description {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__description {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 680px) {
    .place__description {
        flex-basis: 100%;
        justify-content: flex-start;
    }
}